blockquote { color: blue ; }
h1 { color: rgba(0,0,0,0); }
td[rowspan="2"]{ color: #4dd18a; }
strong { color: #00f; color: #99d920;}
/* p { color: navy } */
blockquote {
color: #ddc616 ;
background-color: #9cc9d8;
}
body {
font-family: DFKai-SB, BiauKai,
arial;
}
blockquote,td[colspan="2"] {
      font-size: 40px;
      font-weight:900;
}
td[rowspan="2"] {
    text-align: center;
    letter-spacing:3em;
}
p{
    line-height: 3em;
}